/* 
html {
  background: url(../images/blur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}


body{
  margin:0;
  padding:0;
}

#topBlackBar {
  border-top: 120px solid #000;
 }
   
.button{
  color: white;
  background-color: black;
  border: none;
  width: 250px;
  height: 250px;
  font-size: 28px;
}

 
ul li:not(#slash){
  padding:4px 10px;
   border-radius:5px;
           transform: skewX(-10deg);
        -o-transform: skewX(-10deg);
      -moz-transform: skewX(-10deg);
   -webkit-transform: skewX(-10deg);
    background: black;
    margin: 5px;
    padding: 15px
}
 

ul#types {
  font-size: 30px;
  color: white;
	min-width: 696px;
	list-style: none;
	padding-top: 20px;

	}
	ul#types li {
    text-decoration: none;
    margin: 30px;
		display: inline;
	}

  ul#sections li {
    text-decoration: none;
    margin: 30px;
    display: inline;
  }
  ul#stypes li {
    text-decoration: none;
    margin: 30px;
		display: inline;
  }





 
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0px;
}

a {
    font-size: 40px;
    color: rgba(255,255,255,.9);
    text-decoration: none;
}
 

h1{
  text-align: center;
  color: white;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 12;
}
.menu > div {

  width: 20%;


  text-align: center;
  line-height: 200%;
  font-size: 100%;
  overflow: visible;
  padding: 2.5%;
  background: black;

} 
  
  */

  .colOffset{
    margin-top:100px;
  }

  body { background: lightsteelblue !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
